<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.k1.pack.statesFree"
    android:versionCode="4"
    android:versionName="3.0.0" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/logo1"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen" >
        <activity
            android:name=".Activities.Start"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:finishOnCloseSystemDialogs="true"
            android:label="@string/app_name"
            android:noHistory="false"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.StartChallenge"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:finishOnCloseSystemDialogs="true"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".Activities.Challenge"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:finishOnCloseSystemDialogs="true"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".Activities.Res"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:finishOnCloseSystemDialogs="true"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".Activities.BestScores"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:finishOnCloseSystemDialogs="true"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".Activities.NasionalAlanthem"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".Activities.ResForFullAnswer"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="landscape" >
        </activity>
    </application>

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" >
    </uses-sdk>

</manifest>